<Files ~ "\.inc$">
  Order deny,allow
  Deny from all
</Files>

php_value session.name menu

php_value default_charset "UTF-8"
php_value include_path ".:/usr/local/lib/php:/home/radicore/includes"

php_value register_globals 0
php_value magic_quotes_gpc 0
php_value session.use_cookies 1
php_value session.use_only_cookies 0
php_value session.use_trans_sid 1
php_value session.gc_maxlifetime 3600
php_value arg_separator.output "&amp;"
php_value url_rewriter.tags "a=href,area=href,frame=src,input=src,fieldset="

#AddHandler application/x-http-php .php
#AddType application/x-httpd-php .php