
/* picker */
div.picker-image {
  margin-top:2px;
  margin-bottom:2px;
  padding:0;
  border:0;
  max-height:100px;
}

/* HTML controls */
textarea {
  width: 100%;
}

/* custom classes */
.divider {
  height: 6px;
}
