
/* HTML controls */
textarea {
  width: 100%;
}

/* custom classes */
.green {
  background: green;
  color: white;
  font-weight: bold;
}
.red {
  background: red;
  color: white;
}
.overdue {
  background: red;
  color: yellow;
  font-weight: bold;
}
div.todo_user .overdue {
  background: transparent;
  color: red;
  font-weight: bold;
}

.weekend {
  background-color: green;
  color: white;
  font-weight: bold;
}
